*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  color: #001931;
}
p {
  color: #627382;
}
.btn-primary {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
}
.btn-secondary {
    background-color: transparent;
    color: #fff;
    padding: 12px 16px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
}
.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Styles */
header {
    padding: 16px 0;
}
.inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper img {
    width: 140px;
}
.navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}

.navigation-wrapper ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
}
