*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  color: #001931;
}
p {
  color: #627382;
}
.btn {
    display: inline-flex;
    cursor: pointer;
    border: 1px solid;
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
    transition: background-color 0.3s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
.btn img {
    margin-bottom: -5px;
    width: 24px;
}
.btn-primary {
    background-color: #30B868;
    border-color: #30B868;
    color: white;
}
.btn-secondary {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

/*================
    Header Styles 
 =================*/
header {
    padding: 16px 0;
}
.inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-wrapper img {
    width: 140px;
}
.navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}

.navigation-wrapper ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
}


/*==================
 Hero Section Styles
 =================== */
.hero-section {
    background-image: linear-gradient(rgba(0, 25, 49, 0.2)), 
    url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
}
.active-indicator {
    display: flex;
    width: fit-content;
    background: #fff;
    margin: auto;
    color: #30b868;
    font-size: 16px;
    padding: 8px 10px 9px 10px;
    border-radius: 100px;
    align-items: center;
    column-gap: 6px;
    line-height: 1;
}
.active-indicator .dot img {
    width: 16px;
    height: auto;
        margin-bottom: -2px;

}
.hero-section .hero-text-wrapper h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-top: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-section .button-wrapper {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: auto;
    text-align: center;
}
.hero-section .hero-text-wrapper h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero-section .hero-text-wrapper p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #fff;
}
