*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fbfbfb;
}
h1, h2, h3, h4, h5, h6 {
  color: #222222;
}
p {
  color: #627382;
}
.btn {
    display: inline-flex;
    cursor: pointer;
    border: 1px solid;
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    letter-spacing: 0.5px;
}
.btn img {
    margin-bottom: -5px;
    width: 24px;
}
.btn-primary {
    background-color: #30B868;
    border-color: #30B868;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-secondary {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.btn-primary:hover,
.btn-secondary:hover {
    background-color: #F95555;
    border-color: #F95555;
}
.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

/*================
    Header Styles 
 =================*/
header {
    padding: 16px 0;
}
header .inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-wrapper img {
    width: 140px;
}
header .navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}

header .navigation-wrapper ul li a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
}
header .navigation-wrapper ul li a:hover {
    border-bottom: 1px solid #222222;
}


/*==================
 Hero Section Styles
 =================== */
.hero-section {
    background-image: linear-gradient(rgba(0, 25, 49, 0.2)), 
    url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
}
.hero-section .active-indicator {
    display: flex;
    width: fit-content;
    background: #fff;
    margin: auto;
    color: #30b868;
    font-size: 16px;
    padding: 8px 10px 9px 10px;
    border-radius: 100px;
    align-items: center;
    column-gap: 6px;
    line-height: 1;
}
.hero-section .active-indicator .dot img {
    width: 16px;
    height: auto;
        margin-bottom: -2px;

}
.hero-section .hero-text-wrapper h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    margin-top: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-section .button-wrapper {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.hero-section .hero-text-wrapper {
    text-align: center;
}
.hero-section .hero-text-wrapper h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 34px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero-section .hero-text-wrapper .green-text {
    color: #30b868;
}
.hero-section .hero-text-wrapper p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    color: #fff;
}

/*==================
  Notes Section Styles
 =================== */
.notes-section {
    padding: 60px 0;
}
.notes-section .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 14px;
}
.notes-section p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.notes-section .img-card-outer {
    display: flex;
    justify-content: space-between;
}
.notes-section .image-card {
    width: calc(25% - 24px);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 24px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notes-section .image-wrapper {
    background: #F95555;
    width: 60px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 16px;
}
.notes-section .image-card .image-wrapper img {
    width: auto;
}
.notes-section .image-card .card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}


/*==================
  Brain Section Styles
 =================== */
.brain-section {
    padding: 60px 0;
}
.brain-section .inner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 60px;
}
.brain-section .text-wrapper,
.brain-section .image-wrapper {
    width: 50%;
}
.brain-section .text-wrapper h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 16px;
    color: #30B868;
    text-transform: uppercase;
}
.brain-section .text-wrapper h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}
.brain-section .text-wrapper p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
}
.brain-section .text-wrapper li {
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    margin: 6px 0;
}
.brain-section .text-wrapper li img{
    margin-bottom: -5px;
}


/*==================
  Early Access Section Styles
 =================== */
.early-access-section {
    padding: 60px 0;
}
.early-access-section .inner-section {
    text-align: center;
    padding: 80px 40px;
    background: #f7f6f2;
    border-radius: 12px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 4px;
}
.early-access-section .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 24px;
}
.early-access-section p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 24px;
}
.early-access-section .button-wrapper {
    margin-bottom: 14px;
}

/*==================
  Footer Section Styles
 =================== */
footer {
    background-color: #001931;
    color: #ffffff;
    text-align: center;
}
footer .inner-section {
    padding-top: 120px;
    margin-top: 40px;
}
footer .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h5 {
    color: #ffffff;
    text-align: left;
    margin-bottom: 14px;
}
footer ul {
    display: flex;
    align-items: center;
    gap: 16px;
}
footer ul li {
    list-style: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li img{
    width: 100%;
    height: auto;
}

footer .copyright-wrapper {
    padding: 24px 0;
    margin-top: 80px;
    border-top: 1px solid #414141;
}
footer .copyright-wrapper p{
    color: #fafafa;
    font-weight: 400;
}

